services:

  api:
    build:
      context: .
    env_file:
      - .env
    environment:  
      # Override MONGODB_URI inside the container to use the mongo service
      - REDIS_URL=redis://redis:6379/0
      - MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/${MONGO_INITDB_DATABASE}?authSource=admin
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6.0
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:latest
    restart: unless-stopped
    depends_on:
      - mongo
    env_file:
      - .env
    environment:
      # Connect to Mongo using root user in the admin database
      - ME_CONFIG_MONGODB_URL=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/admin?authSource=admin
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      # Optional basic auth for the UI (change in .env if you like)
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
    ports:
      - "8081:8081"

  worker:
    build:
      context: .
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
      - MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/${MONGO_INITDB_DATABASE}?authSource=admin
      # - STORAGE_ENDPOINT=http://minio:9000  # MinIO désactivé
    depends_on:
      - mongo
      - redis
      # - minio  # MinIO désactivé
    volumes:
      - ./app:/app/app
      - ./libs:/app/libs
    # command: ["rq", "worker", "-u", "redis://redis:6379/0", "fromscratch"]
    command: ["rq", "worker", "fromscratch", "--url", "redis://redis:6379/0", "--verbose"]

  redis:
    image: redis:7
    container_name: compose-redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
